.comprar{
    height: auto;
    color:#F09090;
    font-size:28px;
    padding:2rem;
}

.comprar__area{
    width:80%;
    height: 150px;
    background-color: brown;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.comprar__area__texto{
    color: #ffffff;
    padding:0.5rem;
    text-align: center;
}
.btPedido{
    color: #ffffff;
    background-color: #f06567;
    border-bottom:5px solid #ed282b;
    width: 50%;
    padding: 0.5rem 3rem;
    border-radius: 10px;
    cursor: pointer;

}

.comprar__remarcar,.comprar__pedidos{
font-size: 24px;
color: white;
text-align: center;
margin-top: 1rem;
text-decoration: underline ;
}
.comprar__remarcar__texto,.comprar__pedidos__texto{
color:white;
text-align: center;
padding-bottom: 0.5rem;
}
.comprar__container{
    background-color: brown;
    margin: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding: 0.25rem 0.25rem 2rem;
    width:80%;

}
@media screen and (max-width:769px){
.btPedido{
padding:0.20rem 0rem;
}
.comprar__container{
    width:100%;
    padding:none;
}
.comprar__area{
    width:100%;
}

}