.festas{
    color:brown;
  height: auto;
}

.festa__container{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.festa__area{
    background-color: brown;
    color:white;
    width:30%;
    height:35%;
    margin: 2% 10%;
    border-radius:10px;
    display: inline-block;
    padding: 0.5rem 2rem 2rem 2rem;
}

.festa__area__titulo{
    font-size: 28px;
    text-align: center;
    text-decoration: underline;
}

.festa__area__imagem{
    width:calc(100%);
    height:calc(275px - 4rem);
    margin:0.5rem 0rem 0.5rem 0rem;
}
.festa__area__lista{
    list-style-type:none;
    font-size: 20px;
}
.festa__area__descricao{
    text-align:center;
    font-size: 26px;
    font-weight: bold;
}

.festa__area__lista{
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.festa__area__tabela{
    width: 100%;
    font-size:20px;
    margin-left: auto;
    margin-right: auto;
}

.festa__area__tabela tr th{
    padding: 0.1rem;
    font-size: 24px;
    text-align:center;
    border: 1px white solid;
}
.festa__area__tabela tr td{
    padding: 0.1rem;
    text-align:center;
    border: 1px white solid;
}
.festa__area.crescer{
    height: auto;
}

.menor{
    height: auto;
}

@media screen and (max-width:769px){
    .festas{
        padding:2rem;
    }
    .festa__area{
      width:100%;
      margin: 2% 0;
      
    }


}