.festas{
    color:brown;
  height: auto;
}

.festa__container{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.festa__area{
    background-color: brown;
    color:white;
    width:30%;
    height:35%;
    margin: 2% 10%;
    border-radius:10px;
    display: inline-block;
    padding: 0.5rem 2rem 2rem 2rem;
    position:relative;
}

.festa__area__titulo{
    font-size: 26px;
    text-align: center;
    text-decoration: underline;
}

.festa__area__imagem{
    width:calc(100%);
    height:calc(275px - 4rem);
    margin:0.5rem 0rem 0.5rem 0rem;
}
.festa__area__lista{
    list-style-type:none;
    font-size: 20px;
}
.salgados li:first-child{
    text-align: center;
    text-decoration: underline;

}
.festa__area__descricao{
    text-align:center;
    font-size: 26px;
    font-weight: bold;
}

.festa__area__lista{
    margin-top: 1rem;
}
.festa__area__tabela{
    width: 100%;
    font-size:20px;
    margin-left: auto;
    margin-right: auto;
}

.festa__area__tabela tr th{
    padding: 0.1rem;
    font-size: 24px;
    text-align:center;
    border: 1px white solid;
}
.festa__area__tabela tr td{
    padding: 0.1rem;
    text-align:center;
    border: 1px white solid;
}
.festa__area__container{
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.festa__area__botao{
    background-color: #f06567;
    border-bottom:5px solid #ed282b;
    border-radius: 10px;
    padding:0 0.5rem;
    cursor: pointer;
    height: 35px;
}
.festa__area__botao:active{
    transform:translateY(5px);
    border-bottom:1px solid #ed282b;
    margin-top:4px;
}

.festa__area__popout{
    position: absolute;
    height:0;
    width:100%;
    background-color: brown;
    top:95%;
    left:0;
    z-index: 1;
    border-radius:0 0 10px 10px;
    overflow: hidden;
    
}

.descer{
    animation: descer 2s forwards; 
}
@keyframes descer {
    0%{height:0% ;padding:0}
    100%{height:calc(110%);padding: 0 2rem 2rem;border-bottom: white 2px solid;}
}
.festa__area.crescer{
    height: auto;
}

.menor{
    height: auto;
}
.festa__area.solo{
margin-left: 35%;
margin-right: 35%;
}
@media screen and (max-width:769px){
    .festas{
        padding:0 2rem 2%
    }
    .festa__area{
      width:100%;
      margin: 2% 0;
      
    }
    .festa__area.solo{
        margin-left:0 ;
        margin-right:0 ;
        }


}