footer{
    padding: 2rem;
    height:10rem;
    background:#F09090 ;
    display:flex;
    justify-content:space-between;
}

.footer__container{
    display:flex;
    justify-content: space-between;
    padding :0.1rem;
    align-items: center;
    width:80%;
}
.footer__imagem{
    width: 15vw;
}

address{
    font-size: 20px;
}

.footer__funcionamento{
    margin: 0 1rem;
    text-align: center;
}

.footer__funcionamento tr th{
    padding:0 0.2rem;
    font-size: 20px;
}

.footer__funcionamento tr td{
    padding:0 0.2rem;
    font-size: 20px;

}
.footer__icones{
    display:flex;
    flex-wrap: wrap;
    
}
.footer__imagens{
    width:50px;
    height:50px;
    margin: 0 0.1rem;
    border-radius: 10px;
}

@media screen and (max-width:769px){
    footer{
        flex-direction: column;
        height: auto;
    }
    address{
        text-align: center;
    }
    .footer__funcionamento{

        margin: 1rem 0 0 0;
    }
    .footer__icones{
        margin: 1rem 0 0 0rem;
        display: flex;
        justify-content: center;
    }
    .footer__container{
        flex-direction: column;
        width:100%;
    }
    .footer__imagem{
        width: 50%;
    }
    
    }