.sobre{
  color: #5e2810;;
  height: auto;
}

.sobre__container{
background-color: brown;
color:white;
margin: 1rem 2rem;
border-radius: 10px;
padding:0.5rem;

}
.sobre__subt{
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
  text-align: center;
  font-weight:bold;
  text-decoration: underline;
}

.sobre__paragrafo{
  text-align: center;
  font-size: 24px;
  margin-bottom:2rem;
}

